*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!VERSION
!dub.sdl
!source/
!source/**
!packaging/
!packaging/**
!docs/
!docs/**
!changelog-details/
!changelog-details/**
!.github/
!.github/**

.dub/
dub.selections.json
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp
*.o
*.a
*.log
MEMORIES.md
